.quill
    height: 100% 
    .ql-container
        height: auto
        border: none
        background-color: inherit
 
.rich-text
    width: 60% !important
    height: 600px
    .ant-modal-content
        height: 100%
        .ant-modal-body
            height: 90%
        .ant-modal-footer
            height: 50px
            margin: 0
            padding: 10px 20px 10px 0
        
            
.empty-area,.display-area
    width: 100%
    height: 100%    
    color: #fff
        
.empty-area
    display: flex
    justify-content: center
    align-items: center

.display-area 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center