.readonly-editor {
    position: relative;

    .copy-btn {
        position: absolute;
        border-radius: 4px;
        top: 12px;
        right: 32px;
        z-index: 1000;
    }
    
    border: 1px solid #D9D9D9;
}