.computing
    padding: 0px 0px !important
    height: 100%
    
    .ant-tabs-extra-content .ant-btn
        margin-right: 20px
    
    .ant-tabs-content-holder
        padding: 0 20px
        
    .login-interceptor
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
    
    .spin-container
        height: 100%
        display: flex
        justify-content: center
        align-items: center
          
    .streaming_pub_sub_stat
        display: flex
        justify-content: space-between
        flex-direction: column
            
    .streaming-engine-stat,.persistent-table-stat,.share-streaming-table-stat
        display: flex
        flex-direction: column

    .tab-header
        display: flex
        align-items: center
        column-gap: 10px
        margin: 0px
        font-size: 16px
        padding: 0 12px
        .tab-icon
            font-size: 20px
            display: flex
            align-items: center
        .sm-font
            font-size: 18px
        &:hover
            cursor: pointer
    
    .separater
        height: 56px
            
    .ant-table-thead
        .ant-table-cell
            vertical-align: top    
            

    .ant-tabs-top .ant-tabs-nav
        margin: 0
        .ant-tabs-tab-active .ant-tabs-tab-btn
            color: #000
        
    .ant-tabs .ant-tabs-tab
        padding: 12px 0 8px 0
        &:hover
            color: #000
    
    .ant-tabs-ink-bar
        background-color: #000
    
    .ant-table-thead tr td,.ant-table-thead tr th
        background-color: #f8f8f8
    
    .ant-table-title
        display: flex
        position: relative
        height: 50px
        justify-content: start
        align-items: center
        .title-button
            position: absolute
            left: 0
            .ant-btn
                padding: 2px 6px
        .table-name
            font-weight: 600
            flex: 1
            text-align: center
            font-size: 18px
        .anticon
            cursor: pointer
            font-size: 16px
        
    .ant-typography 
        margin-bottom: 0
                
    .col-title, .ant-table-cell
        font-size: 13px
      
    .green
        color: #6ED86C
            
    .orange
        color: #FF985D

    .red
        color: #EE0000

    .show-more
        color: #1677ff
        cursor: pointer
   
.delete-modal
    width: 450px !important
    .delete-warning-title
        display: flex
        align-items: center
        .anticon-warning
            color:#ff4d4f
            margin-right: 10px
            font-size: 24px
        .selected-number
            color:#3181ff
            cursor: pointer
            
    .ant-input
        border-radius: 5px
        border-color: #d63e49
        height: 35px
        &:focus
            border-color:#3181ff

    .hidden
        display: none
    
    .disable-button
        width: 100%
        border-radius: 5px
        border-color: #e8a0a2
        color: #e8a0a2
        height: 35px
        
    .normal-button
        width: 100%
        border-radius: 5px
        border-color:#e0e0e2
        background-color: #f3f2f4
        color: #d63e49
        height: 35px
     
    .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover
        background-color: #d63e49
        
    .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger)
        margin-inline-start: 0