@import '../index'

.computing
    padding: 10px 20px !important
    display: flex
    justify-content: center
    .action
        margin-bottom: 30px
          
    .streaming_pub_sub_stat
        display: flex
        .sub-workers
            width: 70%
            margin-right: 20px
            overflow: hidden
            
        .other-tables
            display: flex
            width: 31%
            
            flex-direction: column
    .streaming-engine-stat,.persistent-table-stat,.share-streaming-table-stat
        display: flex
        flex-direction: column

    .tab-header
        display: flex
        align-items: center
        column-gap: 10px
        margin: 0px
        font-size: 16px
        padding: 0 12px
        .tab-icon
            font-size: 20px
            display: flex
            align-items: center
        .sm-font
            font-size: 18px
        &:hover
            cursor: pointer
    
    .separater
        height: 56px
            
    .ant-table-thead
        .ant-table-cell
            vertical-align: top    
            

    .ant-tabs-top .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn
            color: $color
        
    .ant-tabs .ant-tabs-tab
        padding: 12px 0 8px 0
        &:hover
            color:$color
    
    .ant-tabs-ink-bar
        background-color: $color
    
    .ant-tabs-content-holder
        margin-top: 16px
    
    .ant-table-title
            display: flex
            position: relative
            height: 50px
            justify-content: start
            align-items: center
            .title-button
                position: absolute
                left: 0
                .ant-btn
                    padding: 2px 6px
            .table-name
                font-weight: 600
                flex: 1
                text-align: center
                font-size: 18px
            .anticon
                font-size: 20px
        
    .ant-typography 
        margin-bottom: 0
                
    .col-title, .ant-table-cell
        font-size: 13px
                
    .green
        color: #6ED86C
            
    .orange
        color: #FF985D

    .red
        color: #EE0000

    .show-more
        color: #1677ff
        cursor: pointer