.cloud
    .list
        margin-top: 20px
        
    .cluster-create-form, .update-form
        width: 600px
    
    .ant-input-number
        width: 100%
        
    .ant-input-number-group-wrapper
        width: 100%
    
    .ant-table-thead > tr > th
        text-align: center

    .ant-table-tbody > tr > *
        text-align: center
        
        .resources
            text-align: left
            display: inline-block
    
    .button-create
        display: flex
        align-items: center
        
        .icon-add
            width: 12px
            height: 12px
            
            margin-right: 6px
    
    
    .cancel, .reset
        margin-left: 20px
        
    .actions
        display: flex
        
        .refresh
            margin-left: 20px
    
    .service-node
        margin-right: 10px
    
    .badge-status
        .ant-typography u
            text-decoration-style: dotted
            text-decoration-color: #444444
    
    .config-table
        margin-bottom: 20px
        
    .title-overview
        margin-bottom: 20px
        
    .iframe
        position: relative
        width: 100%
        height: 1000px
    
    .cluster
        .cluster-header
            padding: 0px
            
            margin-bottom: 20px
            
            h3.ant-typography
                margin-bottom: 0px
        
            .ant-page-header-heading-left
                margin: 0px
            
            .ant-page-header-back
                margin-top: 2px
        
        .ant-descriptions
            margin-bottom: 10px
            
            .ant-descriptions-header
                margin-bottom: 4px

            .ant-descriptions-row > th
                text-align: center

            .ant-descriptions-row > td
                text-align: center
                
            .ant-descriptions-item-content
                width: 25%
        
        .ant-layout
            background: #ffffff
        
        .service
            margin-bottom: 20px
        
        .sidebar-menu
            .detail-menu-item:first-child
                padding-top: unset
            
            .detail-menu-item
                font-size: 1.15em
                cursor: pointer
                padding: 10px 10px 10px 0px
                color: #707070
                .font-content-wrapper
                    padding-left: 20px

            .detail-menu-item:hover
                color: #2e2e2e

            .detail-menu-item-checked
                color: #2e2e2e
                font-weight: 600
                .font-content-wrapper
                    padding-left: 15px
                    border-left: 5px solid #707070
            
        
        .cluster-config
            position: relative
            
            .ant-tabs-tab-btn:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-btn:hover
                color: rgba(0, 0, 0, .85)
            
            .ant-tabs-tab:focus, .ant-tabs-tab:active, .ant-tabs-tab:hover
                color: rgba(0, 0, 0, .85)
            
            .ant-tabs-tab-active
                .ant-tabs-tab-btn
                    color: rgba(0, 0, 0, .85)
                
            .ant-tabs-ink-bar
                background: #707070
                height: 3px
            
            .ant-table-tbody > tr:nth-child(5)
                text-align: left
            
            .cluster-button-block
                position: absolute
                right: 0
                top: 0
                
                .cluster-button
                    margin-left: 20px
                
            .boolean-input-form
                margin: 0px
            
            .standalone-form
                margin-top: 30px
            
            .editable-row .ant-form-item-explain 
                position: absolute
                top: 100%
                font-size: 12px
            
            .edited-row
                background: #f2f5ef
            
            .show-all-config
                margin-left: 20px
            
            .cluster-config-header
                display: flex
                align-items: center

// modal
.cloud-create-panel
    
    .ant-divider-inner-text
        font-weight: bold
        font-size: 16px
    
    .ant-row
        justify-content: center
    
    .ant-form-item-label
        padding-left: 15px
        max-width: unset
        flex-grow: 0.2
    
    .ant-form-item-control
        max-width: unset
        flex-grow: 0.8
    
    .ant-form-item
        margin-bottom: 18px
        .limit
            margin-bottom: 0px
            .ant-row
                justify-content: left
            
            .ant-form-item-label
                max-width: 85px
            
            .ant-form-item-control
                max-width: 130px
            .ant-col
                padding-left: 0px
    
    .space
        .ant-row
            justify-content: left
            
            .ant-form-item-control
                max-width: 150px
    
    .optional-columns
        justify-content: unset
    
    .ant-form-item-required::before
        position: absolute
        right: -4px


.dashboard-for-one-name
    .ant-descriptions
        margin-bottom: 10px

        .ant-descriptions-row > th
            text-align: center

        .ant-descriptions-row > td
            text-align: center
            
        .ant-descriptions-item-label
            width: 25%
            
        .ant-descriptions-item-content
            width: 25%
            
        .ant-descriptions-header
            margin-bottom: 0px
            margin-top: 10px
            
    
    #BackupInfo
        .ant-descriptions-item-label
            width: auto
        .ant-descriptions-item-content
            width: auto
    
    #PathInfo
        .ant-descriptions-item-label
            width: 25%
        .ant-descriptions-item-content
            width: 0px
    
    #BasicInfo
        .ant-descriptions-item-label
            width: auto
        .ant-descriptions-item-content
            width: auto

.backup-modal
    .ant-input-number-group
        width: 50%
        
    .sourceKey
        margin-bottom: 0px

.json-error
    .ant-modal-confirm
        text-align: center
        
        .ant-modal-content
            display: inline-block
            
            .ant-modal-body
                display: flex
            
            .ant-modal-close
                float: right
                position: static
                transform: scale(0.8) translate(20px, -20px)