.cloud
    .list
        margin-top: 20px
        
    .form
        width: 600px
    
    .creating-title
        margin-top: 20px
        
    .ant-input-number
        width: 100%
        
    .ant-input-number-group-wrapper
        width: 100%
    
    .button-create
        display: flex
        align-items: center
        
        .icon-add
            width: 12px
            height: 12px
            
            margin-right: 6px
    
    
    .cancel, .reset
        margin-left: 20px
        
    .actions
        display: flex
        
        .refresh
            margin-left: 20px
    
    .service-node
        margin-right: 10px
    
    .badge-status
        .ant-typography u
            text-decoration-style: dotted
            text-decoration-color: #444444
    
    .datanodes
        margin-top: 20px
        
    