html, body
    margin: 0px
    height: 100%
    overscroll-behavior-y: contain
    
*
    box-sizing: inherit

.root
    box-sizing: border-box
    
    height: 100%
    
    display: flex
    
    flex-direction: column
    
    .ddb-header
        padding: 0px 20px
        
        height: 40px
        line-height: 40px
        
        display: flex
        
        background: #f2f2f2
        
        box-shadow: 0px 1px 0px 0px #e5e5e5
        
        border-bottom: #e5e5e5 1px solid
        
        z-index: 10
        
        .logo
            margin-left: 4px
            width: 140px
            height: 40px
        
        .padding
            flex: 1
        
    .body
        
        // 从 console/index.sass 从 .sider 完全复制
        .sider
            margin-top: 1px
            
            user-select: none
            
            background: #fafafa
            
            .collapse-trigger
                display: flex
                justify-content: left
                align-items: center
                
                color: #707070
                
                height: 100%
                
                .text
                    margin-top: 1px
                    color: #707070
                
                &:hover
                    background-color: #e6e6e6
                
                &.expand
                    .collapse-icon
                        margin-left: 20px
                        margin-right: 8px
                
                &.collapsed
                    .collapse-icon
                        flex: 1
                        display: flex
                        justify-content: center
            
            .ant-layout-sider-trigger
                background: #fafafa
                box-shadow: inset -1px 0 0 #e5e5e5
            
            
            .menu
                height: 100%
                
                background: #fafafa
                
                box-shadow: inset -1px 0 0 #e5e5e5
                
                border-right: unset
                
                color: #707070
                
                &.ant-menu-inline-collapsed
                    width: 50px
                
                .icon-menu
                    font-size: 16px
                    color: #707070
                    display: flex
                    align-items: center
                    justify-content: center
                    height: 100%
                
                .ant-menu-item
                    padding-inline: unset
                
                .ant-menu-item-selected::after
                    transform: none
                
                .ant-menu-item-selected
                    .icon-menu
                        color: #2e2e2e
                    
                    background-color: #e6e6e6
                    color: #2e2e2e
                    font-weight: bold
                    
                .ant-menu-item:hover
                    color: #2e2e2e
                    background-color: #e6e6e6
                    
                .ant-menu-item-active
                    color: unset
                    background-color: #e6e6e6
                    
                    .icon-menu
                        color: #2e2e2e
    
    .view
        flex: 1
        
        min-height: 0px
        
        overflow: auto
        
        background-color: #ffffff
        
        padding: 20px
    
    .ant-layout-content
        
        .ant-page-header-heading-title
            .ant-typography
                margin-top: 0px
    
    .ant-layout-content:has(> .grafana)
        display: flex
        padding: 0px
        .grafana
            display: flex
            flex-grow: 1
            
            .iframe
                flex-grow: 1