.root .shell
    overflow-y: hidden !important
    
.shell
    display: flex
    
    flex-direction: column
    
    .shell-header
        padding: 0px
        
        margin-bottom: 20px
        
        h3.ant-typography
            margin: 0px
    
        .ant-page-header-heading-left
            margin: 0px
        
        .ant-page-header-back
            margin-top: 2px
        
    .term
        flex: 1
        
        min-height: 0px
        
    .term-loading
        padding: 10px


.db-shell-modal
    .ant-modal-content
        padding: 20px 24px 1px 24px

        .logo
            margin: 10px auto 30px auto
            width: 160px
            display: block

        .ant-modal-footer
            display: none
        
        .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before
            content: ''
        
        .db-modal-content-button-group
            .ant-col
                width: 100%
                max-width: 100%
            
            .ant-form-item-control-input-content
                display: flex
                justify-content: center
                gap: 10px
