.dashboard-table-wrapper {
    font-size: 12px;
    height: 100%;
    
    h2 {
        margin-top: 0px;
    }
    
    .table-radio-group {
        margin-bottom: 12px;
    }

    
    .ant-table-wrapper {        
        
        .ant-spin-nested-loading {
            height: 100%;
            .ant-spin-container {
                height: 100%;
            }
        }
        
        .ant-table {
            overflow-y: auto;
           
            max-height: 100%;
            

            .ant-table-content {
                display: initial;
            }
            .ant-table-thead {
                position: sticky;
                top: 0;
                z-index: 3;
            }
            
            .ant-table-row {
                &:nth-child(odd) {
                    background-color: #303030;
                }
            }
            
        }
        
        &.table-with-pagination {
            .ant-table {
                /** 去除分页高度 */
                max-height: calc(100% - 40px);
            }
        }
        
    }
}


.empty-table {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}