.dashboard-table-wrapper {
    font-size: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    h2 {
        margin-top: 0px;
    }
    
    .table-radio-group {
        margin-bottom: 12px;
    }
    
    .dashboard-table {
        flex: 1;
        overflow: auto;
        max-width: 100%;
        
        
        .ant-table {
            max-height: 100%;
            overflow-y: auto;
        }
        
        .ant-table-content {
            display: initial;
        }
        .ant-table-thead {
            position: sticky;
            top: 0;
            z-index: 3;
        }
    }
    
    .dashboard-table-with-pagination {
        .ant-table {
            max-height: calc(100% - 40px);
        }
    }
}


.empty-table {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}