.cep-computing-wrapper {
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;

}

.cep-engine-empty {
    margin-top: 64px;
}

.cep-engine-detail {
    width: calc( 100% - 320px);
    &-single {
        width: 100%;
    }
    .spin-content {
        width: 100%;
        height: 400px;
    }
    .cep-detail-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .data-view-info {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        
        .data-view-menu {
            width: 320px;
            background-color: rgba(187, 187, 187, .07);
        }
        
        .data-view-table {
            width: calc(100% - 320px);
            margin-left: 12px;
        }
        
        
        
    }
}

.cep-engine-list {
    width: 320px;
    border: 1px solid #fafafa;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 0 16px 16px 16px;
    margin-right: 36px;
    
    div.ant-typography, .ant-typography p {
        margin-bottom: 0px;
    }
    
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .refresh-icon {
            margin-right: 4px;
        }
    }
    
    .cep-engine-item {
        border-bottom: 1px solid #fafafa;
        background-color: #fff;
        padding: 12px;
        
        &:hover {
            cursor: pointer;
            background-color: #fafafa;
            border-radius: 4px;
        }
        
        &-active {
            background-color: #EEF7FC !important;
            border-radius: 4px;
        }
        
        &:last-child {
            border-bottom: none;
        }
        
        &-title {
            margin-bottom: 8px;
        }
        &-desp {
            display: flex;
            justify-content: space-around;
        }
    }
    
}


.cep-send-event-wrapper {
    .event-fields-wrapper {
        background-color: #bbb;
        border-radius: 8px;
    }
}