node_modules/

/bak/
/web/
/web.*.zip
/web.cloud/
/web.cloud.zip

/pre-bundle/dist/
/pre-bundle/index.js

# misc
.DS_Store

/*.js
*.map
*.d.ts

/.eslintrc.schema.json

/i18n/untranslateds.json
/i18n/stats.json

/.vscode/settings.json
/.vscode/launch.json
