.variable-title {
    font-weight: 500;
    margin-bottom: 16px;
}

.variable-chart-form {
    width: 100%;
    margin-bottom: 0px;
}

.variable-config-form {
    .ant-form-item {
        margin-bottom: 8px;
    }
}

.variable-chart-wrapper {
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    padding-right: 12px;
    overflow-x: hidden;
    overflow-y: auto;
}