.field-wrapper {
    .ant-space {
        width: 100%;
        .ant-space-item:first-child {
            flex-grow: 1;
        }
    }
    padding: 8px 0px;
}

.axis-wrapper {
    .ant-form-item{
        margin-bottom: 8px;
        &:last-child {
            margin-bottom: 0px;
        }
    } 
}

.divider {
    margin: 4px 0px;
}


.delete-icon {
    margin-left: 4px;
}

.yasix-collapse-wrapper {
    .add-yaxis-btn {
        margin-top: 12px;
    }
}

collapse-label {
    display: flex;
    justify-content: space-between;
}


.add-series-btn {
    margin-top: 12px;
}

.ant-picker-dropdown .ant-picker-time-panel-column {
    width: 100px; 
}

.col-select-space {
    width: 100%;
    .ant-space-item {
        width: 50%;
    }
}



.threshold-list {
    background-color:rgb(20,20,20);
    padding: 8px;

    .threshold-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .ant-form-item {
            margin-bottom: 0px !important;
        }
    }
    
    .threshold-add-btn {
        text-align: right;
        .threshold-add-icon {
            margin-right: 4px;
        }
    }
}