.line-chart {
    width: 100%;
    height: 100%;
}

.table-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.table-wrapper {
    overflow: auto;
    font-size: 12px;
    padding: 12px;
    .table-radio-group {
        margin-bottom: 12px;
    }
    .ant-table-row {
        &:nth-child(even) {
            background-color: #303030;
        }
    }
    .ant-table-cell {
        padding: 2px 12px !important;
    }
}
