.data-connection {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 100%;
}

.data-collection-wrapper {
    display: flex;
    height: 100%;
    
    
    .connection-left-wrapper {
        width: calc(100% - 320px);
        .empty-content {
            margin-top: calc(50vh - 35px);
        }
    }
    
    
    
    .link-btn {
        padding: 0px !important;
        border-radius: 4px;
    }
   
    
    .connection-list {
        border-right: 1px solid #f3f1f1;
        padding-right: 16px;
        height: 100%;
        overflow-y: auto;
        width: 320px;

        
        .connection-list-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .title {
                font-size: 1.5em;
                font-weight: bold;
                padding: 10px 0px;
            }
            
            .delete-link {
                .delete-link-icon {
                    margin-right: 4px;
                }
            }
        }
        
        .ant-tree-treenode {
            display: flex;
            align-items: center;
        }

        
        .ant-tree .ant-tree-switcher {
            margin: auto;
        }
        
        
        
        
        .connection-tree {
            width: 100%;

            .ant-tree-node-content-wrapper {
                display: flex;
                flex: 1;
                .ant-tree-title {
                    height: 32px;
                    display: flex;
                    align-items: center;
                }
            }
            
            .connection-tree-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 32px;
                
                .connection-tree-label {
                    display: inline-block;
                    width: 170px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                
                .connection-operations {
                    visibility: hidden;
                }
                
                &:hover {
                    .connection-operations {
                        visibility: visible;
                    }
                }
            }
            
            .protocol-tree-item {
                .protocol-icon {
                    margin-right: 4px;
                }
                .protocol-operations {
                    visibility: hidden;
                    margin-left: 12px;
                }
                
                &:hover {
                    .protocol-operations {
                        visibility: visible;
                    }
                }
            }
           
        }
    }
}

