.data-collection-wrapper {
    display: flex;
    
    .empty-content {
        height: 100%;
        margin: auto auto;
    }
    
    .link-btn {
        padding: 0px !important;
        border-radius: 4px;
    }
   
    
    .connection-list {
        border-right: 1px solid #f3f1f1;
        padding-right: 16px;
        height: calc(100vh - 80px);
        overflow: auto;
        
        .connection-list-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .delete-link {
                .delete-link-icon {
                    margin-right: 4px;
                }
            }
        }
        
        .ant-tree-checkbox {
            transform: translateY(12px);
        }
        
        .ant-tree-treenode {
            display: flex;
            align-items: center;
        }

        
        .ant-tree .ant-tree-switcher {
            margin: auto;
        }
        
        
        
        
        .connection-tree {
            width: 354px;

            .ant-tree-treenode-selected {
                background-color: #e7f5ff;
            }
            
            .ant-tree-node-content-wrapper {
                display: flex;
                flex: 1;
                .ant-tree-title {
                    height: 48px;
                    display: flex;
                    align-items: center;
                }
            }
            
            .connection-tree-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 48px;
                
                .connection-tree-label {
                    display: inline-block;
                    width: 210px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                
                .connection-operations {
                    visibility: hidden;
                }
                
                &:hover {
                    .connection-operations {
                        visibility: visible;
                    }
                }
            }
            
            .protocol-tree-item {
                .protocol-icon {
                    margin-right: 4px;
                }
                .protocol-operations {
                    visibility: hidden;
                    margin-left: 12px;
                }
                
                &:hover {
                    .protocol-operations {
                        visibility: visible;
                    }
                }
            }
           
        }
    }
}


.center-spin-div {
    width: 100%;
    height: 400px;
}