.ddb-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h2 {
        margin: 0px;
    }
    
    .ddb-table-title {
        display: flex;
        column-gap: 8px;
        align-items: center;
        
        .help-icon {
            cursor: pointer;
        }
    }
}

