.ddb-title {
    .ant-table-title {
        padding: 0px;
        width: 100%;
    }
    
    .ddb-table-filter-form {
        margin-bottom: 12px;
    } 
    
    .ddb-table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        width: 100%;
        
        h2 {
            margin: 0px;
        }
        
        .ddb-table-title {
            display: flex;
            column-gap: 8px;
            align-items: center;
            
            .help-icon {
                cursor: pointer;
            }
        }
    }
}

