$canvas_back_color: rgb(40, 40, 40)
$font_color: rgb(215, 215, 215)
$blue: rgb(22, 104, 220)
$border_color: #333333
    
.variable
    .ant-modal-content
        background-color: $canvas_back_color
        .ant-modal-title
            background-color: $canvas_back_color

.variable-config-trigger-navigation   
    cursor: pointer
    
    .variable-config-trigger-navigation-icon
        margin-right: 5px

.variable-config-main
    width: 100%
    height: 500px
    color: $font_color
    display: flex

    .config-variable-list
        width: 200px
        border-right: 1px solid $border_color
        display: flex
        flex-direction: column
        
        .variable-list-top
            padding-right: 10px
            height: 45px
            display: flex
            align-items: center
            justify-content: space-between
            
            .variable-list-top-item
                cursor: pointer
                
                .variable-list-top-item-icon
                    margin-right: 2px
            
        .variable-list-bottom
            flex: 1
            padding-right: 10px
            
            .variable-list-bottom-menu
                height: 100%
                
                .bottom-menu-rename-input
                    width: 150px
                
                .ant-tree-switcher-noop
                    display: none
                    
                .ant-tree-node-content-wrapper
                    height: 40px
                    padding-left: 10px
                    display: flex
                    align-items: center
        
    .config-right
        flex: 1
        display: flex
        flex-direction: column
        overflow: auto
            
        .variable-editor
            height: 100%
            padding: 0 15px
            
            .variable-editor-main
                display: flex
                flex-direction: column
                height: 100%
                
                .variable-editor-main-display-name
                    display: flex
                    margin: 8px 0 10px 0
                    
                    .variable-editor-main-display-name-input
                        width: 350px
                
                .variable-editor-main-mode
                    display: flex
                    margin: 10px 0
                    
                    .variable-editor-main-mode-select
                        width: 350px
                    
                .variable-editor-main-value
                    display: flex
                    margin: 10px 0
                    
                    .variable-editor-main-value-control
                        width: 350px
                        margin-left: 14px
                        
                    .variable-editor-main-value-control-text
                        flex:1
                        margin-left: 14px
                
                .variable-editor-main-options
                    display: flex
                    flex-direction: column
                    margin: 10px 0
                    
                    .variable-editor-main-options-top
                        display: flex
                        justify-content: space-between
                        margin-bottom: 8px
                        
                        .variable-editor-main-options-top-add
                            cursor: pointer
                            color: #1668DC
                    
        .streameditor
            height: 83%
            padding: 8px 16px
            
            .streameditor-no-table
                height: 100%
                border: 1px solid $border_color
                padding: 3px 0 0 10px
            
            .streameditor-main
                display: flex
                height: 100%
                border: 1px solid $border_color
                
                .streameditor-main-left
                    width: 20%
                    border-right: 1px solid $border_color
                    
                    .streameditor-main-left-menu
                        height: 100%
                        padding: 3px

                        .ant-tree-switcher-noop
                            display: none
                            
                        .ant-tree-node-content-wrapper
                            height: 40px
                            padding-left: 5px
                            display: flex
                            align-items: center
                
                .streameditor-main-right
                    width: 80%
                    padding: 3px 15px 15px 15px
                    
                    .streameditor-main-right-filter
                        height: 40%
                            
                        .streameditor-main-right-filter-top
                            display: flex
                            justify-content: space-between
                            padding: 3px 0
                                
                            .streameditor-main-right-filter-top-mode-icon
                                color: #666666
                                margin-left: 10px
                                cursor: pointer 
                    
                        .streameditor-main-right-filter-main
                            flex: 1
                            height: 80%
                            border: 1px solid $border_color
   
            height: 7%
            padding: 0 16px
            display: flex
            justify-content: space-between
            align-items: center
            
            .streamconfig-left
                display: flex
                
                .streamconfig-left-node-select
                    width: 100px
                    margin-right: 15px
                
                .streamconfig-left-ip
                    display: flex
                    margin-right: 15px
                    
                    .streamconfig-left-ip-select
                        width: 180px
                    
                    .streamconfig-left-ip-manualinput
                        display: flex
                        
                        .streamconfig-left-ip-manualinput-input
                            width: 180px
                            margin-right: 7px
                            
                        .streamconfig-left-ip-manualinput-icon
                            color: #d9d9d9
                            cursor: pointer
                
            .streamconfig-right
                display: flex
                
                .streamconfig-right-input
                    width: 70px