.ddb-tag {
    font-weight: bold;
    background-color: #E6F7FF;
    color: #003A8C;
}

.success-tag {
    color: #216E4E;
    background-color: #DCFFF1;
    font-weight: bold;
}

.error-tag {
    color: #AE2E24;
    background-color: #FFECEB;
    font-weight: bold;
}

.partial-success-tag {
    color: #873800;
    background-color: #FFE7BA;
    font-weight: bold;
}

.processing-tag {
    background-color: #E6F7FF;
    color: #003A8C;
    font-weight: bold;
}