.configuration-diagram
    height: 100%
    
    .actions
        position: absolute
        
        z-index: 5
        
        bottom: 0px
        left: 0px
        right: 0px
        
        margin: 8px
        
        display: flex
        gap: 8px
        
        align-items: center
        
        height: 28px
        
        .time
            width: 180px
        
        .slider
            flex: 1
            margin: 8px 8px 8px 16px
        
        .player
            padding: 0px 4px
            
            .player-icon
                color: #282828
                font-size: 18px
        
        .rate
            width: 80px
            height: 23px
