.common-filter-cols-wrapper {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    background-color: #efefef;
    margin-bottom: 24px;
    h4 {
        margin: 0px 0px 16px 0px;
    }
    
    .common-filter-col {
        display: flex;
        margin-bottom: 12px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
        .ant-form-item {
            width: 45%;
            margin-bottom: 0px;
        }
    }
}

