.handler-form-item {
    .monaco-editor-container {
        padding: 8px;
        border: 1px solid #e7e3e3;
        height: 500px !important;
    }
    &.ant-form-item-has-error {
        .monaco-editor-container {
            border: 1px solid red;
        }
    }
}

.editor-segmented {
    margin-bottom: 12px;
}