.inspection
    .inspection-header
        display: flex
        justify-content: space-between
        .inspection-header-left
            display: flex
            column-gap: 10px
            .inspection-search
                width: 600px
                
    .ant-table-cell
        padding: 4px 4px !important
        


.add-inspection-modal
    .ant-table-cell
        padding: 6px 6px !important
    
    .inspection-form
        display: flex
        flex-direction: column
        row-gap: 20px
        
        .script-popover
            max-width: 500px
            padding: 8px
            
        .date-select
            min-width: 200px
            
        .inspection-form-footer
            display: flex
            column-gap: 20px
            align-self: flex-end