.inspection
    .inspection-header
        display: flex
        justify-content: space-between
        .inspection-header-left
            display: flex
            column-gap: 10px
            .inspection-search
                width: 600px
                
    .ant-table-cell
        padding: 4px 4px !important
        
    
    .table-header
        display: flex
        justify-content: space-between
        align-items: flex-end
    
    .green
        color: #6ED86C

    .red
        color: #EE0000

.add-inspection-modal,
.edit-inspection-modal,
.report-detail-modal
    .ant-table-cell
        padding: 6px 6px !important
    
    .inspection-form
        display: flex
        flex-direction: column
        
        .ellipsis
            width: 120px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
        
        .inspection-form-inline
            display: flex
            flex-direction: column
            .inspection-form-inline-time
                display: flex
                column-gap: 20px
            .ant-form-item
                margin-bottom: 0px
        
        .script-popover
            max-width: 500px
            padding: 8px
            
        .date-select
            min-width: 200px
            
        .nodes-select
            width: 240px
            
        .inspection-form-footer
            display: flex
            column-gap: 20px
            margin-top: 40px
            align-self: flex-end
            
.report-detail-modal
    .green
        color: #6ED86C

    .red
        color: #EE0000
