.computing
    height: 100%
    padding-top: 4px !important
        
    .interceptor
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
    
    .spin-container
        height: 100%
        display: flex
        justify-content: center
        align-items: center
          
    .streaming_pub_sub_stat
        display: flex
        justify-content: space-between
        flex-direction: column
            
    .streaming-engine-stat,.persistent-table-stat,.share-streaming-table-stat
        display: flex
        flex-direction: column

    
    .separater
        height: 20px
    
    
    .ant-table-title
        display: flex
        position: relative
        height: 50px
        justify-content: start
        align-items: center
        .title-button
            position: absolute
            left: 0
            .ant-btn
                padding: 2px 6px
        .table-name
            font-weight: 600
            flex: 1
            text-align: center
            font-size: 18px
        .anticon
            cursor: pointer
            font-size: 16px
      
    .green
        color: var(--ant-color-success)
            
    .orange
        color: var(--ant-color-warning)

    .red
        color: var(--ant-color-error)

    .show-more
        color: var(--ant-color-primary)
        cursor: pointer
   
.computing-delete-modal
    width: 600px !important
    
    .ant-modal-content
        padding: 24px
        
    .delete-warning-title
        display: flex
        align-items: center
        .anticon-warning
            color:#ff4d4f
            margin-right: 10px
            font-size: 24px
        
    .hidden
        display: none
        
    .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger)
        margin-inline-start: 0
        
.computing-show-more-modal
    .ant-modal-confirm-title
        width: 330px
    .ant-list-item
        padding: 4px 0