.login
    display: flex
    flex-direction: column
    align-items: center
    
    flex: 1
    
    .logo
        margin: 160px 0px 40px 0px
        
        height: 32px
        
        display: flex
        align-items: center
        
        &.shf
            height: 32px
            
            .suffix
                padding-bottom: 6px
                
                &.dolphinx
                    padding-bottom: unset
        
        .dolphindb, .line, .suffix
            height: 100%
        
        .line
            font-size: 26px
            line-height: 1
            margin: 0px 8px
            
        .suffix
            padding-bottom: 6px
            
            &.dolphinx
                padding-bottom: unset
    
    .form-container
        display: flex
        
        justify-content: center
        
        .form
            width: 300px
            
            .submit
                width: 100%
    
    