.job
    height: 100%
    overflow-y: auto
    
    .actions
        padding-top: 10px
        
        margin-bottom: 20px
        
        display: flex
        
        .title
            font-size: 1.5em
            font-weight: bold
            margin-right: 20px
        
        .search
            margin-right: 20px
            flex: 1
    
    .spin-container
        height: 100%
        display: flex
        justify-content: center
        align-items: center
    
    
    .cjobs
        margin-bottom: 20px
        
    
        
    .nojobs
        margin-bottom: 20px
    
        
    .ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        overflow: hidden
    

    .action-col
        display: flex
        white-space: nowrap
        gap: 12px
            
    .job-message
        overflow: auto
        
.job-message-modal
    .ant-modal-content
        overflow: auto
        max-height: 80vh
        display: flex
        flex-flow: column
        .ant-modal-body
            flex:1
            height: 0
            display: flex
            flex-flow: column
            overflow: auto
            .job-message
                height:80vh
                padding-bottom: 5px
    .copy-button
        margin-top: 8px