.config
    padding: 0px 0px !important
    .tab-header
        display: flex
        justify-content: center
        align-items: center
        column-gap: 10px
        font-size: 16px
        
    .ant-tabs-nav
        margin-bottom: 0px
        
    .ant-table-cell
        padding: 8px 8px !important
        
    .ant-table-content
        padding: 0 16px
        
    .table-header
        display: flex
        column-gap: 20px
        .table-header-search
            width: 240px   
            
    .row-actions .ant-btn
        padding: 0 16px
        height: auto