.config
    padding: 0px 0px !important
    
    .ant-tabs-nav
        margin: 0px
    .ant-pro-table
        .ant-pro-table-list-toolbar-left
            flex:0
            width: 0px
        .ant-pro-table-list-toolbar-right
            justify-content: start
    
    .mr-btn
        margin-right: 20px
    
    .tab-header
        display: flex
        justify-content: center
        align-items: center
        column-gap: 10px
        font-size: 16px
    
    .ant-table-cell
        padding: 8px 8px !important
        border-radius: 0px !important
        .ant-btn
            height: auto
            padding: 0px
    
    .ant-collapse .ant-collapse-content>.ant-collapse-content-box
        padding: 0px
    
    .nodes-config-container
        padding-inline: 24px
        .toolbar
            padding-block:16px
            display: flex
            justify-content: start
            .ant-input-group-wrapper
                width: 240px 
        .nodes-config-table .ant-pro-card-body
            padding: 0px !important
        
.ant-popover-inner,
.ant-select-selector,
.ant-btn,
.ant-input-affix-wrapper,
.ant-select-dropdown
    border-radius: 0px !important
    
    
.add-config-modal
    width: 650px !important
    
    