.view-card.gridstack
    height: 100%
    padding: 0px !important
    
.dashboard-main
    height: 100%
    display: flex
    flex-direction: row
    .dashboard-canvas
        width: 70%
        height: 100%
        padding-top: 1px
        flex-grow: 1
        .grid-stack
            background-image: radial-gradient(circle at top left, #000 1px, transparent 1px),radial-gradient(circle at top right, #000 1px, transparent 1px),radial-gradient(circle at bottom left, #000 1px, transparent 1px),radial-gradient(circle at bottom right, #000 1px, transparent 1px)
            .grid-stack-item-content
                background-color: rgba(0,0,0, 0.2)
                .delete-graph
                    position: absolute
                    right: 0
                    top: 0
                .graph-content
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    .graph-hint
                        width: 80%
                        height: 40%
                        text-align: center
                        border: 1px black solid
            .grid-stack-item-active
                border: 1px aqua solid

    .dashboard-select-sider
        width: 160px
        padding-top: 1px
        text-align: center
        background-color: #f1f1f1
        display: flex
        flex-direction: column
        .dashboard-graph-item
            padding: 10px 15px
            
    .dashboard-settings-panel
        width: 280px
        border: 1px #f1f1f1 solid
        .setting-options
            padding: 12px