.view-card.gridstack
    height: 100%
    padding: 0px !important
    
.dashboard-main
    height: 100%
    display: flex
    flex-direction: row
    .dashboard-canvas
        width: 70%
        height: 100%
        padding-top: 1px
        flex-grow: 1
        .grid-stack
            background-image: radial-gradient(circle at top left, #000 1px, transparent 1px),radial-gradient(circle at top right, #000 1px, transparent 1px),radial-gradient(circle at bottom left, #000 1px, transparent 1px),radial-gradient(circle at bottom right, #000 1px, transparent 1px)
            .grid-stack-item-content
                background-color: rgba(0,0,0, 0.2)
                .delete-graph
                    display: none
                .graph-content
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    .graph-hint
                        width: 90%
                        height: 50px
                        text-align: center
                        border: 2px rgba(76,182,253) solid
                        border-radius: 5px
            .grid-stack-item-content:hover
                .delete-graph
                    display: block
                    position: absolute
                    right: 3px
                    top: 0
                .drag-icon
                    width: 10px
                    height: 10px
                    border-bottom: 3px solid grey
                    border-right: 3px solid grey
                    position: absolute
                    right: 5px
                    bottom: 5px
                .drag-icon:hover
                    border-bottom: 3px solid rgba(76,182,253)
                    border-right: 3px solid rgba(76,182,253)
            .grid-stack-item-active
                border: 3px rgba(76,182,253) solid
                
            // 去除原来的拖拽图标
            .grid-stack-item>.ui-resizable-ne, .grid-stack-item>.ui-resizable-nw, .grid-stack-item>.ui-resizable-se, .grid-stack-item>.ui-resizable-sw
                background-image: none

    .dashboard-select-sider
        width: 160px
        padding-top: 1px
        text-align: center
        background-color: #f1f1f1
        display: flex
        flex-direction: column
        .dashboard-graph-item
            padding: 10px 15px
            
    .dashboard-settings-panel
        width: 280px
        border: 1px #f1f1f1 solid
        .setting-options
            padding: 12px