.data-collection-wrapper {
    display: flex;
   
    
    .connection-list {
        border: 1px solid #f3f1f1;
        padding: 12px;
        h4 {
            margin: 0px;
        }
        .connection-menu {
            width: 300px;
           
            .protocol_menu_item {
                display: flex;
                .protocol_menu_label {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 12px;
                }
            }
        }
    }
   
    
    .connection-detail {
        display: flex;
        justify-content: center;
        flex: 1;
    }
}