.editor-container
    height: 100%
    display: flex
    flex-direction: column
    h2
        margin: 0
    .editor
        flex: 1
        padding: 20px 0     
    .ant-btn
        width: 100px
        