.editor-container
    display: flex
    flex-direction: column
    h2
        margin: 0
    .editor
        flex:1
        padding: 20px 0
        overflow: hidden
        .monaco-editor-container 
            min-height: 150px
            
    .ant-btn
        width: 100px
        