$canvas_back_color: rgb(40, 40, 40)
$font_color: rgb(215, 215, 215)
$blue: rgb(22, 104, 220)
$border_color: #333333


.view-card.dashboard
    height: 100%
    padding: 0px !important
    
.dashboard
    height: 100%
    display: flex
    flex-direction: column
    
    .dashboard-header
        height: 50px
        border-bottom: 1px black solid
           
    .dashboard-main
        flex: 1
        display: flex
        flex-direction: row
        min-height: 0px
        
        .hidden
            display: none !important
        
        .dashboard-canvas
            padding-top: 1px
            flex-grow: 1
            background-color: $canvas_back_color
            
            // 没有 overflow: hidden 会导致在 hover 最下面一行的 widget 时画布变大 1px （原因未知）从而导致出现滚动条
            overflow: hidden
            
            .grid-stack
                height: 100% !important
                min-height: 0 !important
                background-image: radial-gradient(circle at top left, $border_color 2px, transparent 2px),radial-gradient(circle at top right, $border_color 2px, transparent 2px),radial-gradient(circle at bottom left, $border_color 2px, transparent 2px),radial-gradient(circle at bottom right, $border_color 2px, transparent 2px)
                
                .grid-stack-item-content
                    background-color: #282828
                    
                    height: 100%
                    overflow: hidden
                    border: 1px solid #282828
                    
                    .delete-graph
                        display: none
                        
                        .delete-graph-icon
                            cursor: pointer
                        
                    .graph-content
                        width: 100%
                        height: 100%
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        
                        .graph-hint
                            width: 90%
                            height: 50px
                            text-align: center
                            color: $font_color
                            border: 2px $blue solid
                            background-color: rgba(255, 255, 255, 0.2)
                            cursor: pointer
                
                .grid-stack-item:hover
                    .delete-graph
                        display: block
                        position: absolute
                        right: 3px
                        top: 0
                        color: $font_color
                        z-index: 999
                        
                    .drag-icon
                        width: 10px
                        height: 10px
                        border-bottom: 3px solid $font_color
                        border-right: 3px solid $font_color
                        position: absolute
                        right: 5px
                        bottom: 5px
                        
                    .drag-icon:hover
                        border-bottom: 3px solid $blue
                        border-right: 3px solid $blue
                
                .grid-stack-item-active
                    z-index: 100
                    border: 1px $blue solid
                    background-color: #1d1d1d
                    
                // 去除原来的拖拽图标
                .grid-stack-item>.ui-resizable-ne, .grid-stack-item>.ui-resizable-nw, .grid-stack-item>.ui-resizable-se, .grid-stack-item>.ui-resizable-sw
                    background-image: none
                    
        .dashboard-select-sider
            width: 120px
            padding-top: 1px
            text-align: center
            background-color: rgb(52, 52, 52)
            color: $font_color
            display: flex
            flex-direction: column
            justify-content: space-between
            cursor: default
            
            .dashboard-graph-item
                cursor: pointer
                box-sizing: border-box
                height: 50px
                line-height: 50px
                border: 1px solid transparent
                
                .dashboard-graph-item-icon
                    margin-right: 5px
                
            .dashboard-graph-item:hover
                border: 1px $blue solid
                
            .select-folder
                display: flex
                justify-content: center
                height: 48px
                cursor: pointer
                
            .select-folder:hover
                background-color: $blue
                
        .dashboard-select-sider-folding
            width: 40px
        
        .dashboard-settings-panel
            width: 320px
            overflow: auto
            background-color: #303030
            
            .ant-tabs-nav
                margin: unset
            
            .ant-menu-light
                background: #2b2b2b
            
            .setting-options
                height: calc( 100% - 46px )
                background-color: #303030
                // padding: 12px
            

.back-to-home
    padding: 12px
    display: flex
    justify-content: center
    align-items: center
    
    
.graph-setting-form
    .ant-collapse .ant-collapse-content>.ant-collapse-content-box
        padding: 8px