.vis-arc text {
	font: 10px sans-serif;
	text-anchor: middle;
}

.vis-arc path {
	stroke: #fff;
}

.vis-line, .vis-area-line {
	stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2;
}
