.session-management-table {
    height: 100%;
    padding: 0px !important;
}

.session-management {
    height: 100%;
    padding: 0px 10px;
}

.session-form-select {
    width: 200px !important;
}

.session-summary {
    text-align: end;
    color: var(--ant-color-text-secondary);
}