.session-management {
    height: 100%;
    
    .session-management-table {
        height: 100%;
        padding: 0px !important;
    }
    
    .session-summary {
        text-align: end;
        color: var(--ant-color-text-secondary);
    }
    
    .session-form-select {
        width: 200px !important;
    }
}

