$color: var(--vscode-editor-foreground, #000000)
$border-color: var(--vscode-tree-tableColumnsBorder, rgba(97, 97, 97, 0.13))
$background-color: var(--vscode-editor-background, #ffffff)
$icon-color: var(--vscode-editorGroupHeader-tabsBackground, #888888)
$hover-color: var(--vscode-sideBar-background, #f8f8f8)
$table-head-color: var(--vscode-sideBar-background, #eeeeee)
$font-color: var(--vscode-editor-foreground, #000000)

$dropdown-background-color: var(--vscode-dropdown-background, #ffffff)
$dropdown-foreground-color: var(--vscode-dropdown-foreground, #000000d9)
$dropdown-border-color: var(--vscode-dropdown-border, #ffffff)
$dropdown-active-background-color: var(--vscode-inputOption-hoverBackground, #f5f5f5)
$dropdown-selected-background-color: var(--vscode-editor-selectionBackground, #eeeeee)

$input-background-color: var(--vscode-input-background, #ffffff)
$input-foreground-color: var(--vscode-input-foreground, #000000d9)

$line-number-foreground-color: var(--vscode-editorLineNumber-foreground, #000000d9)
$line-number-active-foreground-color: var(--vscode-editorLineNumber-activeForeground, #000000)

html, body
    margin: 0
    height: 100%
    overscroll-behavior-y: contain

*
    box-sizing: inherit

.root
    box-sizing: border-box
    height: 100%
    
    .app
        height: 100%
    
    .root-layout
        height: 100%
    
    .ddb-header
        padding: 0px 10px
        height: 40px
        line-height: 40px
        
        display: flex
        
        background: #f2f2f2
        
        box-shadow: 0px 1px 0px 0px #e5e5e5
        
        border-bottom: #e5e5e5 1px solid
        
        z-index: 10
        
        .refresh-button
            margin-top: 8px
            margin-left: 16px
            background-color: #f2f2f2
        
        .ant-avatar-sm
            width: 20px
            height: 20px
            line-height: 20px
        
        .section
            display: flex
            align-items: center
        
        .header-settings
            overflow: hidden
            display: flex
            align-items: center
            cursor: pointer
            
            .header-settings-icon
                margin-right: 6px
            
        .logo
            margin-left: 5px
            width: 90px
            height: 40px
        
        .padding
            flex: 1
        
        .node-info, .license
            color: #000000
            padding: 1px 8px 2px 8px
            border-style: solid
            border-color: #bbbbbb
            margin-right: 10px
            cursor: pointer
            background-color: #f2f2f2
        
        
        .user
            margin-top: -2px
            
            .avatar
                background-color: #707070
                
            .username
                padding: 8px 4px
                
                color: #2e2e2e
                font-size: 14px
                
                &:hover
                    background-color: #d8d8d8
                    
                .avatar
                    margin-right: 3px
                
                .arrow-down
                    margin-left: 3px
                    font-size: 12px
    
    
    .body
        height: 100%
        
        .sider
            margin-top: 1px
            
            user-select: none
            
            background: #fafafa
            
            .collapse-trigger
                display: flex
                justify-content: left
                align-items: center
                
                color: #707070
                
                height: 100%
                
                .text
                    margin-top: 1px
                    color: #707070
                
                &:hover
                    background-color: #e6e6e6
                
                &.expand
                    .collapse-icon
                        margin-left: 20px
                        margin-right: 8px
                
                &.collapsed
                    .collapse-icon
                        flex: 1
                        display: flex
                        justify-content: center
            
            .ant-layout-sider-trigger
                background: #fafafa
                box-shadow: inset -1px 0 0 #e5e5e5
            
            
            .menu
                height: 100%
                
                background: #fafafa
                
                box-shadow: inset -1px 0 0 #e5e5e5
                
                border-right: unset
                
                color: #707070
                
                &.ant-menu-inline-collapsed
                    width: 50px
                
                .icon-menu
                    font-size: 16px
                    color: #707070
                    display: flex
                    align-items: center
                    justify-content: center
                    height: 100%
                
                .ant-menu-item
                    padding-inline: unset
                
                .ant-menu-item-selected::after
                    transform: none
                
                .ant-menu-item-selected
                    .icon-menu
                        color: #2e2e2e
                    
                    background-color: #e6e6e6
                    color: #2e2e2e
                    font-weight: bold
                    
                .ant-menu-item:hover
                    color: #2e2e2e
                    background-color: #e6e6e6
                    
                .ant-menu-item-active
                    color: unset
                    background-color: #e6e6e6
                    
                    .icon-menu
                        color: #2e2e2e
                        
                    
            
        .view
            overflow: auto
            
            background-color: #ffffff
            
            display: flex
            
            flex-direction: column
            
            .view-card
                padding: 20px
                
                background-color: #ffffff

.ant-dropdown
    .login
        align-items: flex-start
    
    .ant-dropdown-menu
        background-color: #fafafa
        
.ant-spin-container .pagination-margin-right
    margin-right: 50px
    
.head-bar-info
    .ant-card
        box-shadow: unset
        
        .ant-card-head
            border-bottom: none !important
        
        .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content
            padding: 2px 6px
        
        .ant-card-head-title
            font-weight: bold
        
        .build-time
            margin-top: 10px
            color: #e6e6e6
    
    .refresh
        cursor: pointer

.decimals-toolbar
    display: flex
    flex-direction: column
    
    gap: 16px
    margin-top: 8px
    
    .decimals-toolbar-input
        .ant-input-number-sm.ant-input-number,.ant-input-number-affix-wrapper
            width: 150px
        .ant-input-number-handler
            border: 0px
            height: 50%
            .decimals-toolbar-wrap 
                display: flex
                flex-direction: column
                justify-content: space-around
            svg
                height: 13px
                width: 15px
            .decimals-toolbar-up 
                height: 50% !important
            .decimals-toolbar-down
                height: 50% !important
            .decimals-toolbar-up-inner
                height: 100%
                overflow: hidden
            .decimals-toolbar-down-inner
                height: 100%
                overflow: hidden
        
        .ant-input-number-handler:hover .ant-input-number-handler-up-inner, .ant-input-number-handler:hover .ant-input-number-handler-down-inner
            color: #3760f0 !important
        .ant-input-number:hover:not(.ant-input-number-borderless) .ant-input-number-handler-down, .ant-input-number-focused:not(.ant-input-number-borderless) .ant-input-number-handler-down
            border-top: 0px
        .ant-input-number-handler:active
            background: unset
    
    
    .decimals-toolbar-button-group
        display: flex
        justify-content: flex-end
        gap: 10px

.perf
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: space-around
    gap: 10px
    
    .ant-card-head
        border-bottom: none !important
    
    .ant-descriptions-header
        margin-bottom: 4px
        .ant-descriptions-title
            font-size: 14px
            
    .ant-descriptions-item-content
        color: #6a5acd
    
    .table
        flex: 1
        
    .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content
        padding: 2px 6px
        
    .refresh
        background: #fafafa
        
        border-top: 1px solid #f0f0f0
        border-right: 1px solid #f0f0f0
        border-bottom: 1px solid #f0f0f0
        
        display: flex
        
        flex-direction: column
        align-items: center
        
        justify-content: center
        
        width: 50px
        
        cursor: pointer
        
        padding-top: 4px
        
        .icon
            font-size: 16px
        
        .text
            margin-top: 4px
            color: #000000

.ant-message
    z-index: 1031

.ant-modal-root
    .ant-modal-mask
        background-color: unset

.ant-btn
    transition: unset


.modal-error
    .ant-modal-confirm-content
        white-space: break-spaces
        
// 分页样式
.ant-pagination
    .ant-pagination-item a
        color: $color !important
    
    .ant-pagination-item-active
        background-color: $background-color !important
        border: 0px
        font-weight: bold
        
        a
            margin-top: 1px
            color: $line-number-active-foreground-color !important
    
    .ant-pagination-item-ellipsis
        color: $color !important
    
    .ant-pagination-item-link
        color: $font-color !important
    
    .ant-pagination-item-link-icon
        color: $font-color !important
    
    .ant-pagination-disabled svg
        color: $color !important
    
    .ant-pagination-options
        color: $font-color !important
        display: inline-block !important
        
        input
            background-color: $input-background-color !important
            color: $input-foreground-color !important
    
// 分页选择样式
.ant-select
    color: $font-color
    
    .ant-select-selector
        background-color: $background-color !important
        border-color: $background-color !important
    
    .ant-select-arrow
        color: $font-color !important
    
    .ant-select-dropdown
        background-color: $dropdown-background-color !important
        color: $dropdown-foreground-color !important
        border: 1px solid $dropdown-border-color !important
    
    .ant-select-item 
        color: $dropdown-foreground-color !important
        
    .ant-select-item-option-active
        background-color: $dropdown-active-background-color !important
    
    .ant-select-item-option-selected
        background-color: $dropdown-selected-background-color !important
        color: $font-color !important

.ant-select:not(.ant-select-disabled):hover .ant-select-selector
    border-color: #707070

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector
    box-shadow: unset
    
.ant-select-single.ant-select-open .ant-select-selection-item
        color: $font-color
        
.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
    background-color: $dropdown-selected-background-color !important
    
.ant-pagination-options-quick-jumper
    input
        border-color: $border-color
    
    input:hover
        border-color: #707070
        
    input:focus, input-focused
        border-color: #707070
        box-shadow: unset
        
    