html, body
    margin: 0
    height: 100%
    overscroll-behavior-y: contain
    
*
    box-sizing: inherit

.root
    box-sizing: border-box
    height: 100%
    
    .root-layout
        height: 100%
    
    .header
        padding: 0px 20px
        height: 40px
        line-height: 40px
        
        display: flex
        
        background: #f2f2f2
        
        box-shadow: 0px 1px 0px 0px #e5e5e5
        
        border-bottom: #e5e5e5 1px solid
        
        z-index: 10
        
        .ant-avatar-sm
            width: 20px
            height: 20px
            line-height: 20px
        
        .section
            display: flex
            align-items: center
        
        .header-settings
            overflow: hidden
            display: flex
            align-items: center
            cursor: pointer
            
            .header-settings-icon
                margin-right: 6px
            
        .logo
            width: 90px
            height: 40px
        
        .padding
            flex: 1
        
        .node-info, .license
            color: #000000
            padding: 1px 8px 2px 8px
            border-radius: 50px
            border-style: solid
            border-color: #1C1C1C
            margin-right: 10px
            cursor: pointer
        
        
        .user
            margin-top: -2px
            
            .avatar
                background-color: #707070
                
            .username
                padding: 8px 4px
                
                border-radius: 4px
                
                color: #2e2e2e
                font-size: 14px
                
                &:hover
                    background-color: #d8d8d8
            
            
    .header.citic
        font-family: 'PingFangSC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Microsoft YaHei'
        
        background-color: #3e4655
        height: 50px
        align-items: center
        line-height: 2px
        
        font-size: 16px
        
        .home
            display: flex
            align-items: center
            margin-left: 20px
            color: #dddddd
            
            .text
                margin-left: 10px
            
            &:hover
                color: #ffffff
            
        .logo
            width: unset
            height: 30px
        
        .node-info, .license
            font-size: 12px
            border-color: #dddddd
            color: #dddddd
        
        .user
            .username
                color: #dddddd
                font-size: 16px
                margin-bottom: 1px
                
                &:hover
                    background-color: unset
                    color: #ffffff
                
    
    .body
        height: 100%
        
        .sider
            margin-top: 1px
            
            user-select: none
            
            background: #fafafa
            
            .collapse-trigger
                display: flex
                justify-content: left
                align-items: center
                
                color: #707070
                
                height: 100%
                
                .text
                    margin-top: 1px
                
                &:hover
                    background-color: #e6e6e6
                
                &.expand
                    .collapse-icon
                        margin-left: 20px
                        margin-right: 8px
                
                &.collapsed
                    .collapse-icon
                        flex: 1
            
            .ant-layout-sider-trigger
                background: #fafafa
                box-shadow: inset -1px 0 0 #e5e5e5
            
            
            .menu
                height: 100%
                
                background: #fafafa
                
                box-shadow: inset -1px 0 0 #e5e5e5
                
                border-right: unset
                
                color: #707070
                
                .icon-menu
                    font-size: 16px
                    color: #707070
                
                .ant-menu-item
                    margin-top: unset
                    margin-bottom: unset
                    width: 100%
                    
                .ant-menu-item:not(:last-child)
                    margin-top: unset
                    margin-bottom: unset
                
                .ant-menu-submenu-title
                    margin-top: unset
                    margin-bottom: unset
                
                .ant-menu-item-selected
                    .icon-menu
                        color: #2e2e2e
                    
                    background-color: #e6e6e6
                    color: #2e2e2e
                    font-weight: bold
                    
                .ant-menu-item::after
                    border-right: 4px solid #707070
                
                .ant-menu-item:hover
                    color: #2e2e2e
                    background-color: #e6e6e6
                    
                .ant-menu-item-active
                    color: unset
                    background-color: #e6e6e6
                    
                    .icon-menu
                        color: #2e2e2e
                        
                    
            
        .view
            overflow: auto
            
            background-color: #ffffff
            
            display: flex
            
            flex-direction: column
            
            .view-card
                padding: 20px
                
                background-color: #ffffff
            
.ant-dropdown-menu
    background-color: #fafafa
    
.head-bar-info
    .ant-card
        &-head-title
            font-weight: bold
    
    .license-card
        .ant-card-head
            border-bottom: 0px
            margin-bottom: -10px
    
    .refresh
        cursor: pointer

.decimals-toolbar
    display: flex
    flex-direction: column
    
    gap: 16px
    margin-top: 8px
    
    .decimals-toolbar-input
        .ant-input-number-sm.ant-input-number,.ant-input-number-affix-wrapper
            width: 150px
        .ant-input-number-handler
            border: 0px
            height: 50%
            .decimals-toolbar-wrap 
                display: flex
                flex-direction: column
                justify-content: space-around
            svg
                height: 13px
                width: 15px
            .decimals-toolbar-up 
                height: 50% !important
            .decimals-toolbar-down
                height: 50% !important
            .decimals-toolbar-up-inner
                height: 100%
                overflow: hidden
            .decimals-toolbar-down-inner
                height: 100%
                overflow: hidden
        
        .ant-input-number-handler:hover .ant-input-number-handler-up-inner, .ant-input-number-handler:hover .ant-input-number-handler-down-inner
            color: #3760f0 !important
        .ant-input-number:hover:not(.ant-input-number-borderless) .ant-input-number-handler-down, .ant-input-number-focused:not(.ant-input-number-borderless) .ant-input-number-handler-down
            border-top: 0px
        .ant-input-number-handler:active
            background: unset
    
    
    .decimals-toolbar-button-group
        display: flex
        justify-content: flex-end
        gap: 10px

.perf
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: space-around
    gap: 10px
    
    .ant-descriptions-header
        margin-bottom: 4px
        .ant-descriptions-title
            font-size: 14px
            
    .ant-descriptions-item-content
        color: #6a5acd
    
    .table
        flex: 1
        
    .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content
        padding: 2px 6px
        
    .refresh
        background: #fafafa
        
        border-top: 1px solid #f0f0f0
        border-right: 1px solid #f0f0f0
        border-bottom: 1px solid #f0f0f0
        
        display: flex
        
        flex-direction: column
        align-items: center
        
        justify-content: center
        
        width: 50px
        
        cursor: pointer
        
        padding-top: 4px
        
        .icon
            font-size: 16px
        
        .text
            margin-top: 4px
            color: #000000

.ant-message
    z-index: 1031
    

