.job
    height: 100%
    overflow-y: auto
    
    .actions
        margin-bottom: 20px
        
        display: flex
        
        .search
            margin-left: 20px
    
    .spin-container
        height: 100%
        display: flex
        justify-content: center
        align-items: center
    
    .ant-table
        overflow-x: auto
        
    .nojobs
        margin-bottom: 20px
        
    .ant-table-wrapper .ant-table-pagination.ant-pagination
        margin-bottom: 0
        
    .ant-typography
        margin: 26px 0
        line-height: 0.8
    
    .ant-table-thead
        white-space: nowrap
    
    .ant-table-thead tr td,.ant-table-thead tr th
        background-color: #f8f8f8
    