.job
    height: 100%
    
    .actions
        margin-bottom: 20px
        
        display: flex
        
        .search
            margin-left: 20px
    
    .spin-container
        height: 100%
        display: flex
        justify-content: center
        align-items: center
    
    .ant-table
        overflow-x: auto
    
    .separater
        height: 26px
        
    .nojobs
        margin-bottom: 20px
    
    .ant-table-thead
        white-space: nowrap
    
    .ant-table-thead tr td,.ant-table-thead tr th
        background-color: #f8f8f8
    