.job
    .actions
        margin-bottom: 20px
        
        display: flex
        
        .search
            margin-left: 20px
    
    .ant-table
        overflow-x: auto
        
    .nojobs
        margin-bottom: 20px
    