.shell
    height: 100%
    
    display: flex
    flex-direction: column
    
    min-height: 0
    
    overflow-y: hidden
    
    .tabs
        margin-top: 20px
        
        flex: 1
        
        .tab-terminal, .tab-dataview
            border-left: 1px solid #e5e5e5
            border-right: 1px solid #e5e5e5
            border-bottom: 1px solid #e5e5e5
            
        // .tab-terminal
        //     padding: 20px 0px 0px 20px
            
        .tab-dataview
            padding: 20px
            
            
        .term
            height: 100%
            
            .terminal
                padding: 20px 20px 0px 20px
            
        
        .ant-tabs-tab
            transition: none
            
            &:hover
                color: #444444
            
            &.ant-tabs-tab-active .ant-tabs-tab-btn
                color: #444444
                font-weight: bold
                font-size: 14px
            
            .ant-tabs-tab-btn:active
                color: #444444
            
            .ant-tabs-tab-btn
                transition: none
                
    
    .editor
        border: 1px solid #e5e5e5
        
        position: relative
        
        .monaco-editor
            .line-numbers
                color: #888888
            
            .active-line-number.line-numbers
                color: #444444
            
            // .margin-view-overlays
            //     background: #f0f0f0
        
        
        .run
            position: absolute
            
            top: 18px
            right: 30px
            
            display: flex
            
            align-items: center
            
            .icon
                width: 18px
                
                margin-right: 4px
                
            .text
                margin-top: 1px
            
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab
        border: 1px solid #e5e5e5
        
    .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before
        border-bottom: 1px solid #e5e5e5
        
    .ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav
        margin: 0px
        
    .ant-tabs-content
        height: 100%
        
