.shell
    height: 100%
    
    display: flex
    
    .editor
        border: 1px solid #e5e5e5
        
        position: relative
        
        flex: 3
        min-width: 0px
        
        .monaco-editor
            .line-numbers
                color: #888888
            
            .active-line-number.line-numbers
                color: #444444
            
            // .margin-view-overlays
            //     background: #f0f0f0
    
    .display
        flex: 2
        min-width: 0px
        
        display: flex
        flex-direction: column
        
        border-top: 1px solid #e5e5e5
        border-bottom: 1px solid #e5e5e5
        border-right: 1px solid #e5e5e5
        
        .term
            flex: 1
            
            border-bottom: 1px solid #e5e5e5
            
            .terminal
                padding: 20px
                
        
        .dataview
            flex: 1
            padding: 20px
            font-size: 16px
            
            
            
