.variable-title {
    font-weight: 500;
    margin-bottom: 16px;
}

.variable-chart-wrapper {
    margin-bottom: 0px;
}

.variable-config-form {
    .ant-form-item {
        margin-bottom: 8px;
    }
}