.query-guide-modal {
    width: 1000px !important;
    height: 70%;
    
    .ant-form-item {
        margin-bottom: 0px;
    }
    
    .col-select-transfer {
        width: 100%;
        .ant-transfer-list {
            width: 45%;
            height: 180px;
            .ant-transfer-list-header {
                padding: 4px 8px;
                height: 32px;
            }
            
            .ant-transfer-list-body-search-wrapper {
                padding: 8px 8px 2px 8px;
                .ant-input-affix-wrapper.ant-transfer-list-search {
                    height: 28px;
                }
            }
        }
        .ant-transfer-operation {
            width: 10%;
            align-items: center;
        }
    }
    
    h4 {
        margin: 8px 0px;
    }
    
    .query-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &:last-of-type {
            margin-bottom: 0px;
        }
        
        .ant-form-item {
            width: 30%;
            margin-bottom: 0px;
            .ant-picker {
                width: 100%;
            }
            .ant-input-number {
                width: 100%;
            }
        }
    }
    
    .query-block-title {
        display: flex;
        justify-content: space-between;
        
        .delete-icon {
            color: #FF4D4F;
        }
    }
    
    .add-query-block-btn {
        margin-top: 8px;
    }
    
    
    .add-btn-wrapper {
        margin-top: 4px;
        text-align: end;
    }
    
    .condition-tip {
        font-size: 12px;
    }
    
    .querys-wrapper {
        background-color: #efefef;
        padding: 12px;
    }
    
    .partition-query-block {
        background-color: #efefef;
    }
    
    .btn-wrapper {
        margin-top: 12px;
        text-align: end;
    }
    
    .query-code-view {
        width: 100%;
        height: 600px;
    }
}

    
.col-select-label {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

