$radius: 0px
$background: #13264e
$background-light: #253B6f
$color: #ffffff

// $background: #f0f0f0
// $background-light: #e0e0e0
// $color: #000000

.ddb-header
    padding: 0px 10px 0px 4px
    height: 48px
    line-height: 40px
    
    display: flex
    
    background: $background
    color: $color
    
    z-index: 10
    
    align-items: center
    
    .compile-and-refresh
        background-color: $background-light !important
        color: $color
        border-radius: $radius
        border-color: $background-light !important
        padding: 0px 16px
        font-size: 12px
        
        &:hover 
            color: $color !important
    
    .host-select.ant-select
        .ant-select-selector
            padding: 2px 16px
            background-color: $background-light !important
            border: none
            border-radius: $radius
            .ant-select-selection-item
                font-size: 12px
                color: $color !important
            
        .ant-select-arrow
            color: $color
            .ant-select-suffix
                width: 12px
                height: 12px

        .host-select-container
            margin: 20px
            
            .host-select.ant-select
                margin-left: unset
                
                width: 160px
    

        
    .header-settings-icon
        font-size: 16px
        cursor: pointer
        
    .logo
        width: 100px
        height: 60px
    
    .padding
        flex: 1
    
    .node-info, .license
        color: $color
        padding: 2px 16px
        border-radius: $radius
        cursor: pointer
        background-color: $background-light !important
        border: none
        // ant tag 自带的，需要去掉
        margin-inline-end: unset
    
    
    .user
        cursor: pointer
        display: flex
        align-items: center
        padding-bottom: 2px
        
        .avatar
            background-color: #707070
            margin-right: 4px
        
        .arrow-down
            margin-left: 2px
            font-size: 12px
            transform: translateY(1px)
    