.user,.group
    .header
        margin: 0px 10px 20px 0px
        display: flex
        justify-content: space-between
    
    .search
        width: 240px
    
    .group-select
        width: 90%
            
    .actions
        display: flex
        column-gap: 20px 
             
              
    .green
        font-size: 18px
        color: #6ED86C

    .red
        font-size: 18px
        color: #EE0000
        
    .gray
        font-size: 18px
        color: #999
        
    .blue
        color: #1776FB
                
        
    .ant-tabs 
        // margin-top: 20px
        .ant-tabs-tab-btn
            font-size: 16px
            
    
    
        
.add-user-modal,
.edit-user-modal,
.add-rule-modal,
.add-group-modal,
.edit-group-modal,
.edit-user-group-modal,
.edit-confirm-modal
    .ant-modal-header
        margin-bottom: 20px
    .ant-modal-footer
        display: flex
        justify-content: center
        column-gap: 20px
        .ant-btn
            width: 80px
    .blue
        color: #1776FB
                
            
.add-rule-modal
    width: 820px !important
    .rule-select
        display: flex
        column-gap: 20px
        justify-content: start
        align-items: center
        margin-bottom: 20px
        .ant-form-item
            margin: 0px
    .ant-form-item-control-input-content 
        .ant-btn
            width: 95% !important
       
.add-group-modal,.edit-group-modal,.edit-user-group-modal
    width: 600px !important
    .ant-transfer
        margin: 20px 0px
        display: flex
        justify-content: center
        .ant-transfer-list
            height: 500px
            width: 240px